In [1]:
import pandas as pd
import xarray as xr
import numpy as np
import datarail.utils.plate_fcts as pltfct
import datarail.data_processing.drug_response.qc_plate as qcfct
import datarail.import_modules.columbus_import_functions as CoImp
reload(pltfct)
reload(qcfct)



# load the synthetic data (Columbus output)
df = CoImp.Columbus_processing('../tests/drug_response_data/OUTPUT/Example1_Columbus_output.tsv')
# alternatively, one can load already processed and annotated data:
# df = pd.read_csv('../tests/drug_response_data/OUTPUT/Example1_biased_results.tsv', sep='\t')

df.head()

Default number of fields: 6 ; 357 wells with missing field(s)

,barcode,date,Row,Column,well,cell_count,cell_count__total,corpse_count,cell_count__dead
0,20160623_MH_01,2016-06-06 12:34:56,1,3,A03,467.0,587.0,89.0,120.0
1,20160623_MH_01,2016-06-06 12:34:56,1,4,A04,291.0,442.0,189.0,151.0
2,20160623_MH_01,2016-06-06 12:34:56,1,5,A05,445.0,559.0,86.0,114.0
3,20160623_MH_01,2016-06-06 12:34:56,1,6,A06,731.0,813.0,22.0,82.0
4,20160623_MH_01,2016-06-06 12:34:56,1,7,A07,967.0,1077.0,30.0,110.0

In [2]:
# convert to an xarray (for QC)
xray = pltfct.dfplate2xr(df)
xray

<xarray.Dataset>
Dimensions:            (barcode: 12, column: 20, row: 14)
Coordinates:
  * barcode            (barcode) object '20160623_MH_01' '20160623_MH_02' ...
  * row                (row) int64 1 2 3 4 5 6 7 8 9 10 11 12 13 14
  * column             (column) int64 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 ...
Data variables:
    date               (barcode, row, column) datetime64[ns] 2016-06-06T12:34:56 ...
    Row                (barcode, row, column) int64 1 1 1 1 1 1 1 1 1 1 1 1 ...
    Column             (barcode, row, column) int64 3 4 5 6 7 8 9 10 11 12 ...
    well               (barcode, row, column) object 'A03' 'A04' 'A05' 'A06' ...
    cell_count         (barcode, row, column) float64 467.0 291.0 445.0 ...
    cell_count__total  (barcode, row, column) float64 587.0 442.0 559.0 ...
    corpse_count       (barcode, row, column) float64 89.0 189.0 86.0 22.0 ...
    cell_count__dead   (barcode, row, column) float64 120.0 151.0 114.0 82.0 ...
Attributes:
    plate_dims: [16, 24]

In [3]:
# QC for plate bias
qcfct.Plate_bias(xray, filename='OUTPUT/QC_report.pdf')